.page-404 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 4.5em;
  color: #F68A1F;
}

.btn-back {
  color: #ffffff;
  background-color: #F68A1F;
  padding: 0.8rem 2.5rem;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.btn-back:active {
  background-color: #e3801d;
}
